asgiref==3.11.1
colorama==0.4.6
Django==6.0.3
django-formtools==2.5.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-two-factor-auth==1.18.1
pillow==12.1.1
python-dotenv==1.2.2
qrcode==8.2
sqlparse==0.5.5
tzdata==2025.3
